.custom-checkbox{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("checkbox.png") no-repeat;
}
    
.custom-checkbox:hover{
    background: url("checkbox-hover.png") no-repeat;
}

.custom-checkbox.selected{
    background: url("checkbox-selected.png") no-repeat;
}
    
.custom-checkbox input[type="checkbox"]{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;

    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0; */
}